HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

*.libraries

### VS Code ###
.vscode/

static_models/
!**/src/main/**/static_models/

micro-services/target-extraction/src/main/resources/static_models/1488x1488/.success
micro-services/target-extraction/src/main/resources/static_models/1488x1488/model.pdiparams
micro-services/target-extraction/src/main/resources/static_models/1488x1488/model.pdiparams.info
micro-services/target-extraction/src/main/resources/static_models/1488x1488/model.pdmodel
micro-services/terrian-classification/src/main/resources/static_models/256x256/.success
micro-services/terrian-classification/src/main/resources/static_models/256x256/model.pdiparams
micro-services/terrian-classification/src/main/resources/static_models/256x256/model.pdiparams.info
micro-services/terrian-classification/src/main/resources/static_models/256x256/model.pdmodel
micro-services/terrian-classification/src/main/resources/static_models/256x256/model.yml
micro-services/terrian-classification/src/main/resources/static_models/256x256/pipeline.yml
micro-services/target-detection/src/main/resources/static_models/608x608/model.pdiparams
micro-services/target-detection/src/main/resources/static_models/608x608/model.pdiparams.info
micro-services/target-detection/src/main/resources/static_models/608x608/model.pdmodel
micro-services/target-detection/src/main/resources/static_models/608x608/pipeline.yml
micro-services/target_detection/src/main/resources/static_models/608x608/.success
micro-services/target_detection/src/main/resources/static_models/608x608/model.pdiparams
micro-services/target_detection/src/main/resources/static_models/608x608/model.pdiparams.info
micro-services/target_detection/src/main/resources/static_models/608x608/model.pdmodel
micro-services/target_detection/src/main/resources/static_models/608x608/model.yml
micro-services/target_detection/src/main/resources/static_models/608x608/pipeline.yml
micro-services/change_detection/src/main/resources/static_models/256x256/.success
micro-services/change_detection/src/main/resources/static_models/256x256/model.pdiparams
micro-services/change_detection/src/main/resources/static_models/256x256/model.pdiparams.info
micro-services/change_detection/src/main/resources/static_models/256x256/model.pdmodel
micro-services/change_detection/src/main/resources/static_models/256x256/model.yml
micro-services/change_detection/src/main/resources/static_models/256x256/pipeline.yml
micro-services/target_extraction/src/main/resources/static_models/1488x1488/.success
micro-services/target_extraction/src/main/resources/static_models/1488x1488/model.pdiparams
micro-services/target_extraction/src/main/resources/static_models/1488x1488/model.pdiparams.info
micro-services/target_extraction/src/main/resources/static_models/1488x1488/model.pdmodel
micro-services/target_extraction/src/main/resources/static_models/1488x1488/model.yml
micro-services/target_extraction/src/main/resources/static_models/1488x1488/pipeline.yml
micro-services/terrian_classification/src/main/resources/static_models/256x256/.success
micro-services/terrian_classification/src/main/resources/static_models/256x256/model.pdiparams
micro-services/terrian_classification/src/main/resources/static_models/256x256/model.pdiparams.info
micro-services/terrian_classification/src/main/resources/static_models/256x256/model.pdmodel
micro-services/terrian_classification/src/main/resources/static_models/256x256/model.yml
micro-services/terrian_classification/src/main/resources/static_models/256x256/pipeline.yml
micro-services/target_detection/src/main/resources/__pycache__/TargetDetector.cpython-37.pyc
